.root {
    min-height: 100dvh;
    display: flex;
    background: var(--yl-bg);
}

.content,
.main {
    width: 100%;
    min-width: 0;
}

.content {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}
