<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <meta name="robots" content="noindex, nofollow" />
        <meta name="color-scheme" content="light only" />
        <meta name="theme-color" content="#EDE8F5" />
        <meta
            name="viewport"
            content="minimum-scale=1, initial-scale=1, width=device-width, user-scalable=no"
        />
        <link rel="icon" type="image/png" href="https://ap.dorovpn.online/public/dorovpn_logo_round.png" />
        <link rel="apple-touch-icon" href="https://ap.dorovpn.online/public/dorovpn_logo_round.png" />

        <link rel="preconnect" crossorigin="anonymous" href="https://fonts.googleapis.com" />
        <link rel="preconnect" crossorigin="anonymous" href="https://fonts.gstatic.com" />

        <link
            href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap"
            rel="stylesheet"
        />

        <meta name="description" content="<%- metaDescription %>" />
        <title><%- metaTitle %></title>
    </head>
    <body>
        <div id="root"></div>
        <script type="module" src="./src/main.tsx"></script>

        <div id="sbpg" data-panel="<%- panelData %>"></div>
    </body>
</html>
