.infoBlock {
    padding: var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-md);
}

.blue,
.cyan,
.teal,
.violet {
    background: rgb(50, 159, 255, 0.06);
    border: 1px solid rgb(50, 159, 255, 0.2);
}

.green {
    background: #f0fdf4;
    border: 1px solid #bbf7d0;
}

.red {
    background: #fef2f2;
    border: 1px solid #fecaca;
}

.yellow,
.orange {
    background: #fffbeb;
    border: 1px solid #fcd34d;
}
