.modalContent {
    background: #fff;
    border: 1px solid rgb(50, 159, 255, 0.25);
}

.modalHeader {
    background: transparent;
}

.modalTitle {
    font-weight: 600;
    color: #2d4d76;
}

.actionIcon {
    background: rgb(50, 159, 255, 0.06);
    border: 1px solid rgb(50, 159, 255, 0.25);
}
